// room info
.container {
    display:flex;
    color: #38470b;
}
// room status
.roomMain {
    min-width: 793px;
    padding: 59px 28px;
    margin-left: 573px;
}
.roomStatusHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.roomStatusName {
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    margin-top: 48px;
}
.roomDes {
    font-weight: 500;
    line-height: 20px;
}
.roomRules {
    margin-top: 38px;
    line-height: 24px;
    font-weight: 300;
    max-height: 68px;
}
.roomDetial {
    list-style-type: disc;
    margin-top: 35px;
    margin-left: 21px;
    line-height: 24px;
    font-weight: 300;
    max-height: 94px;
}

.roomAmenities {
    min-height: 164px;
    margin-top: 45px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.amenities {
    flex-basis: 14.28%;
    pointer-events: none;
    user-select: none;
    
    &.notSupport {
        opacity: 0.2;
    }
}

.amenitiesStatus {
    vertical-align: top;
}

.roomSearchTitle {
    margin-top: 14px;
    line-height: 20px;
    font-weight: 500;
}

.calendarBlock {
    max-width: 700px;
    height: 370px;
    overflow: hidden;
    text-align: center;
    font-family: "Open Sans";
}

.roomSidebar {
    flex-shrink: 0;
    width: 573px;
    outline: none;
    position: fixed;
    top: 0;
    bottom: 0;

    .Link {
        display: flex;
        align-items: center;
        padding: 12px;
    }
    
    .Nav {
        display: inline-block;
        margin-top: 75px;
        margin-left: 114px;
    }

    .navLinkText{
        flex-shrink: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 9.68px;
    }

    .priceAndNight {
        text-align: center;
        margin-top: 449px;
    }

    .price, .night {
        font-size: 30px;
        font-weight: 600;
    }

    .bookBtn {
        font-weight: 600;
        font-size: 20px;
        color: white;
        background-color: rgb(56, 71, 11);
        display: block;
        margin: 10px auto 0 auto;
        padding: 8.5px 63.5px;
        line-height: 27px;
        outline: none;
    }
    .bookBtn:hover {
        cursor: pointer;
        background-color: rgb(148, 156, 124);
    }
}

.roomBgSelect {
    margin: 50px 0 0 240px;
    display: inline-flex;
    justify-content: space-between;
}

.roomCicle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #38470b;
}

.roomRadio {
    display: none;
}

    // bg block
    .roombgBlock {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
    }
    .roombgImg {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
.roomRadio:checked ~ .roomCicle {
    background-color: #38470b;;
}
.roomRadio:checked ~ .roombgBlock {
    z-index: -1;
}